@charset "UTF-8";
body{font-size:30px; margin:0; display: block;}
footer{
    width: 100%;
    position:absolute;
    bottom: 0;
    text-align: center;
    margin: 0 0 10px 0;
    span{
        font-size: 12px;
        position: relative;
    }
}